<?xml version="1.0" encoding="UTF-8"?>
<ConfigurationData>
	<ImageFile>**path**\PlugInImages.bmp</ImageFile>
	<Modifications>
		<Modification>
			<Action>Add</Action>
			<UIElement type="Menu">
				<!-- 128 is the ID of the XMLSpy Main Menu -->
				<ID>129</ID>
				<Name>Sample PlugIn</Name>
				<Place>3</Place>
			</UIElement>
		</Modification>
		<Modification>
			<Action>Add</Action>
			<UIElement type="MenuItem">
				<!--the following element is a local command ID-->
				<ID>3</ID>
				<Name>Select in Project</Name>
				<Info>Selects the active document in the current project.</Info>
				<Place>-1</Place>
				<MenuID>129</MenuID>
				<Parent>:Sample PlugIn</Parent>
				<ImageID>0</ImageID>
			</UIElement>
		</Modification>
		<Modification>
			<Action>Add</Action>
			<UIElement type="MenuItem">
				<ID>4</ID>
				<Name>Select all occurances in Project</Name>
				<Info>Selects all occurances of the active document in the current project.</Info>
				<Place>1</Place>
				<MenuID>129</MenuID>
				<Parent>:Sample PlugIn</Parent>
				<ImageID>1</ImageID>
			</UIElement>
		</Modification>
-->
		<Modification>
			<Action>Add</Action>
			<UIElement type="ToolBar">
				<ID>1</ID>
				<Name>Sample PlugIn</Name>
			</UIElement>
		</Modification>
		<Modification>
			<Action>Add</Action>
			<UIElement type="ToolBarItem">
				<!--don't reuse local IDs even the commands do the same-->
				<ID>6</ID>
				<Name>Select active document in Project</Name>
				<Info>Selects the active document in the current project.</Info>
				<!--set Place to -1 if this is the first button to be inserted-->
				<Place>-1</Place>
				<ImageID>0</ImageID>
				<ToolBarID>1</ToolBarID>
			</UIElement>
		</Modification>
		<Modification>
			<Action>Add</Action>
			<UIElement type="ToolBarItem">
				<ID>7</ID>
				<Name>Select all occurances in Project</Name>
				<Info>Selects all occurances of the active document in the current project.</Info>
				<Place>1</Place>
				<ImageID>1</ImageID>
				<ToolBarID>1</ToolBarID>
			</UIElement>
		</Modification>
    <Modification>
      <Action>Add</Action>
      <UIElement type="ToolBarItem">
        <ID>8</ID>
        <Name>Auto-select active document in Project</Name>
        <Info>Selects automatically the active document in the current Project.</Info>
        <Place>2</Place>
        <ImageID>2</ImageID>
        <ToolBarID>1</ToolBarID>
      </UIElement>
    </Modification>
	</Modifications>
</ConfigurationData>
