<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by Christoph Rathkolb (Altova GmbH) -->
<ConfigurationData>
	<ImageFile>**path**\PlugInImages.bmp</ImageFile>
	<Modifications>
		<Modification>
			<Action>Add</Action>
			<UIElement type="Menu">
				<!-- 101 is the ID of UModel's Main Menu -->
				<ID>101</ID>
				<Name>PlugIn Menu2</Name>
				<Place>6</Place>
			</UIElement>
		</Modification>
		<Modification>
			<Action>Add</Action>
			<UIElement type="MenuItem">
				<!--the following element is a local command ID-->
				<ID>3</ID>
				<Name>New C# Delegate</Name>
				<Place>-1</Place>
				<MenuID>101</MenuID>
				<Parent>:PlugIn Menu2</Parent>
				<ImageID>0</ImageID>
			</UIElement>
		</Modification>
		<Modification>
			<Action>Add</Action>
			<UIElement type="ToolBar">
				<ID>2</ID>
				<Name>CSharpDelegatePlugIn</Name>
			</UIElement>
		</Modification>
		<Modification>
			<Action>Add</Action>
			<UIElement type="ToolBarItem">
				<!--don't reuse local IDs even the commands do the same-->
				<ID>4</ID>
				<Name>New C# Delegate</Name>
				<!--set Place to -1 if this is the first button to be inserted-->
				<Place>-1</Place>
				<ImageID>0</ImageID>
				<ToolBarID>2</ToolBarID>
			</UIElement>
		</Modification>
	</Modifications>
</ConfigurationData>
